.ad-panel-holder {text-align:left}
.ad-panel-holder h1, .ad-panel-holder h2, .ad-panel-holder h3 {color:white;}
.ad-panel-holder h1,
.ad-panel-holder h2:hover, 
.ad-panel-holder h3:hover {cursor:default}
.ad-panel-holder h3{font-size:18px; }
.ad-panel-holder h1 {font-size:48px !important; display:inline}
.ad-panel-holder{width:800px; height:400px; margin:auto; margin-top:50px;}
ul.ad-panel img{width:250px; height:200px; border:1px solid grey}
ul.ad-panel img:hover{border:1px solid #FF4500}
ul.ad-panel {list-style:none; width:850px; margin:auto;}
ul.ad-panel li{display:inline-block; list-style:none; margin:5px}
.ad-wrapper{margin-bottom:8px;}


#headerPromoContainer { width: 754px; height:67px; overflow: hidden; }
.ad { cursor: pointer; }
.ad.selected a { visibility: hidden; }
.count-down{text-align:right;display:inline; color:#FF4500; font-size:18px; font-weight:bold; margin-left:240px;}

.myModal {margin-top:50px;}

/**Properties**/
	.grey{background-color:grey}
	.float-left{float:left}
	.float-right{float:right}
	.easy-hidden{display:none}
